.song-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.song-title {
    font-weight: bold;
    margin-right: 50px;
}

.song-author {
    margin-right: 10px;
}

.author-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.request-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.no-songs-found {
    font-style: italic;
}
