/* screen - scan-qr */

.scan-qr {
  align-items: center;
  background-color: #121111;
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 925px;
  overflow: hidden;
  width: 368px;
}

.scan-qr .overlap-group2 {
  height: 157px;
  margin-right: 3.81px;
  margin-top: -6px;
  position: relative;
  width: 374px;
}

.scan-qr .group-23 {
  height: 28px;
  left: 93px;
  position: absolute;
  top: 129px;
}

.scan-qr .overlap-group {
  align-items: flex-start;
  border: 1px solid;
  border-color: #39c0d4;
  border-radius: 23px;
  display: flex;
  height: 28px;
  justify-content: flex-end;
  min-width: 195px;
  padding: 3px 5.3px;
}

.scan-qr .qr-code-button {
  color: var(--robins-egg-blue);
  font-family: var(--font-family-century_gothic-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 20px;
  letter-spacing: 1.20px;
  line-height: normal;
  text-align: center;
  width: 175px;
}

.scan-qr .top-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 143px;
  left: 0;
  padding: 7px 27px;
  position: absolute;
  top: 0;
  width: 374px;
}

.title-div {
  align-items: flex-end;
  display: flex;
  gap: 4px;
  margin-left: 1.81px;
  min-width: 309px;
}

.setly-logo-title {
  height: 38px;
  mix-blend-mode: screen;
  object-fit: cover;
  width: 49px;
}

.name {
  -webkit-text-stroke: 1px var(--black);
  color: #00c2cb;
  font-family: var(--font-family-century_gothic-bold);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.80px;
  line-height: normal;
  margin-bottom: 1px;
  min-height: 30px;
  width: 253px;
  align-self: flex-end;
}


.scan-qr .the-live-event-is-over {
  align-self: center;
  color: #ffffff;
  font-family: var(--font-family-century_gothic-bold);
  font-size: 20px;
  font-weight: 700;
  height: 20px;
  letter-spacing: 0.88px;
  line-height: normal;
  margin-right: 1.0px;
  min-width: 185px;
}
.qr-code-button-1 {
  color: var(--robins-egg-blue);
  font-family: var(--font-family-century_gothic-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 20px;
  letter-spacing: 1.20px;
  line-height: normal;
  text-align: center;
  width: 200px;
}
.scan-qr .scan-new-qr-code  {
  align-self: center;
  color: #ffffff;
  font-family: var(--font-family-century_gothic-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0.88px;
  line-height: normal;
  margin-right: 1.0px;
  min-width: 185px;
}

.scan-qr .group-24 {
  margin-left: 5.0px;
  width: 240px;
}

.scan-qr .overlap-group1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #39c0d4;
  border-radius: 23px;
  display: flex;
  height: 28px;
  justify-content: flex-end;
  min-width: 220px;
  padding: 3px 14px;
  color: #00c2cb;
}



.scan-qr .group {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 197px;
}

.button-link-div {
  display: flex;            /* Use flexbox for layout */
  align-items: center;      /* Center items vertically */
  justify-content: center;  /* Center items horizontally */
  gap: 20px;                /* Maintain the gap between items */
  margin-left: 1.81px;      /* Keep the original margin-left */
  min-width: 309px;         /* Keep the original minimum width */
}

